footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #333; /* Puedes cambiar el color de fondo */
    color: white; /* Cambia el color del texto */
    padding: 10px 0;
}